[submodule "chisel-testers"]
	path = chisel-testers
	url = https://github.com/ucb-bar/chisel-testers.git
[submodule "firrtl-interpreter"]
	path = firrtl-interpreter
	url = https://github.com/ucb-bar/firrtl-interpreter.git
[submodule "dsptools"]
	path = dsptools
	url = https://github.com/ucb-bar/dsptools.git
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/ucb-art/rocket-chip.git
[submodule "testchipip"]
	path = testchipip
	url = https://github.com/grebe/testchipip.git
[submodule "rocket-dsp-utils"]
	path = rocket-dsp-utils
	url = https://github.com/ucb-art/rocket-dsp-utils.git
