[submodule "chisel-testers"]
	path = chisel-testers
	url = https://github.com/ucb-bar/chisel-testers.git
[submodule "firrtl-interpreter"]
	path = firrtl-interpreter
	url = https://github.com/ucb-bar/firrtl-interpreter.git
	branch = dsp-real-support
[submodule "dsptools"]
	path = dsptools
	url = https://github.com/ucb-bar/dsptools.git
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/ucb-bar/rocket-chip.git
[submodule "testchipip"]
	path = testchipip
	url = https://github.com/ucb-bar/testchipip.git
