[submodule "chisel-testers"]
	path = chisel-testers
	url = https://github.com/ucb-bar/chisel-testers.git
[submodule "firrtl-interpreter"]
	path = firrtl-interpreter
	url = https://github.com/ucb-bar/firrtl-interpreter.git
[submodule "dsptools"]
	path = dsptools
	url = https://github.com/ucb-bar/dsptools.git
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/ucb-bar/rocket-chip.git
[submodule "testchipip"]
	path = testchipip
	url = https://github.com/grebe/testchipip.git
[submodule "barstools"]
	path = barstools
	url = https://github.com/ucb-bar/barstools.git
[submodule "treadle"]
	path = treadle
	url = https://github.com/freechipsproject/treadle.git
[submodule "handlebars.scala"]
	path = handlebars.scala
	url = https://github.com/brainps/handlebars.scala.git
