# [stevo]: this is done in update.bash; don't want all of riscv-tools...
#git:
#  submodules: true
language: scala
# run on new infrastructure
sudo: false

install:
  # Install Verilator (if not found in cache)
  # Get it from firrtl's install script
  - wget "https://raw.githubusercontent.com/ucb-bar/firrtl/master/.install_verilator.sh"
  - bash .install_verilator.sh

cache:
  directories:
    $INSTALL_DIR

env:
  global:
    INSTALL_DIR=$TRAVIS_BUILD_DIR/install
    VERILATOR_ROOT=$INSTALL_DIR
    PATH=$PATH:$VERILATOR_ROOT/bin:$TRAVIS_BUILD_DIR/utils/bin

script:
  - ./update.bash
  - make
  - make framework-test

